<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Simpsons Quote Generator</title>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <!-- <link href='http://fonts.googleapis.com/css?family=Gochi+Hand|Gloria+Hallelujah' rel='stylesheet' type='text/css'> -->
        <link rel="stylesheet" href="css/main.css">
        <script src="bower_components/modernizr/modernizr.js"></script>
    </head>
    <body>

        <script type="text/html" id="quoteTemplate">
        <% if ((data.quote).length > 0) { %>
        <h1 class="quote-heading">"<%=data.quote%>"</h1>
        <% } %>
        </script>

        <!-- <div id="content"></div> -->
        <div id="tv-scene">
            <div id="tv">
                <div class="tv-side screen-rim">
                    <div class="screen-rim-line"></div>
                    <div class="screen-rim-line"></div>
                    <div class="screen-rim-line"></div>
                    <div class="screen-rim-line"></div>
                    <div class="screen"></div>
                </div>
                <div class="tv-side front">
                    <div class="dial">
                        <div class="dial-layer"></div>
                        <div class="dial-layer"></div>
                        <div class="dial-layer"></div>
                        <div class="dial-layer"></div>
                        <div class="dial-layer"></div>
                        <div class="nub">
                            <div class="nub-layer"></div>
                            <div class="nub-layer"></div>
                            <div class="nub-layer"></div>
                        </div>
                    </div>
                    <div class="dial">
                        <div class="dial-layer"></div>
                        <div class="dial-layer"></div>
                        <div class="dial-layer"></div>
                        <div class="dial-layer"></div>
                        <div class="dial-layer"></div>
                        <div class="nub">
                            <div class="nub-layer"></div>
                            <div class="nub-layer"></div>
                            <div class="nub-layer"></div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-lines"></div>
                        <div class="panel-lines"></div>
                        <div class="panel-lines"></div>
                    </div>
                </div>
                <div class="tv-side back"></div>
                <div class="tv-side left"></div>
                <div class="tv-side right"></div>
                <div class="tv-side top"></div>
                <div class="tv-side cable-box">
                    <div class="div cable-box-side top">
                        <div class="antenna-base">
                            <div class="antenna"></div>
                            <div class="antenna"></div>
                            <div class="antenna-sphere"></div>
                            <div class="antenna-sphere"></div>
                            <div class="antenna-sphere"></div>
                            <div class="antenna-sphere"></div>
                            <div class="antenna-sphere"></div>
                            <div class="antenna-sphere"></div>
                            <div class="antenna-sphere"></div>
                            <div class="antenna-sphere"></div>
                            <div class="antenna-sphere"></div>
                            <div class="antenna-sphere"></div>
                            <div class="antenna-sphere"></div>
                            <div class="antenna-sphere"></div>
                            <div class="antenna-sphere"></div>
                            <div class="antenna-sphere"></div>
                            <div class="antenna-sphere"></div>
                            <div class="antenna-sphere"></div>
                            <div class="antenna-sphere"></div>
                            <div class="antenna-sphere"></div>
                            <div class="antenna-sphere"></div>
                            <div class="antenna-sphere"></div>
                            <div class="antenna-sphere"></div>
                            <div class="antenna-sphere"></div>
                            <div class="antenna-sphere"></div>
                            <div class="antenna-sphere"></div>
                            <div class="antenna-sphere"></div>
                            <div class="antenna-sphere"></div>
                            <div class="antenna-sphere"></div>
                            <div class="antenna-sphere"></div>
                            <div class="antenna-sphere"></div>
                            <div class="antenna-sphere"></div>
                        </div>
                    </div>
                    <div class="div cable-box-side left"></div>
                    <div class="div cable-box-side right"></div>
                    <div class="div cable-box-side front">
                        <div class="cable-box-bar"></div>
                        <div class="cable-box-circle"></div>
                        <div class="cable-box-circle"></div>
                    </div>
                    <div class="div cable-box-side back"></div>
                </div>
                <div class="tv-side bottom">
                    <div class="tv-feet">
                        <div class="tv-feet-side left"></div>
                        <div class="tv-feet-side right"></div>
                        <div class="tv-feet-side back"></div>
                        <div class="tv-feet-side front"></div>
                        <div class="tv-feet-side bottom"></div>
                    </div>
                    <div class="tv-feet">
                        <div class="tv-feet-side left"></div>
                        <div class="tv-feet-side right"></div>
                        <div class="tv-feet-side back"></div>
                        <div class="tv-feet-side front"></div>
                        <div class="tv-feet-side bottom"></div>
                    </div>
                    <div class="tv-feet">
                        <div class="tv-feet-side left"></div>
                        <div class="tv-feet-side right"></div>
                        <div class="tv-feet-side back"></div>
                        <div class="tv-feet-side front"></div>
                        <div class="tv-feet-side bottom"></div>
                    </div>
                    <div class="tv-feet">
                        <div class="tv-feet-side left"></div>
                        <div class="tv-feet-side right"></div>
                        <div class="tv-feet-side back"></div>
                        <div class="tv-feet-side front"></div>
                        <div class="tv-feet-side bottom"></div>
                    </div>
                </div>
            </div>
        </div>

        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

        <script src="js/main.js"></script>
    </body>
</html>
