
/* Colors */
$tv-color-base: #605489;
$tv-color-box: #2f3858;
$tv-color-wires: #242768;

/* TV Variables */
$size: 300px;
$rect: 0.7;
$tv-frame: 20px;
$outline: darken($tv-color-base, 30%);

@-moz-keyframes spin { 100% { -moz-transform:  rotateX(-15deg) rotateY(30deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform:  rotateX(-15deg) rotateY(30deg); } }
@keyframes spin { 100% { -webkit-transform:  rotateX(-15deg) rotateY(30deg); transform: rotateX(-15deg) rotateY(30deg); } }

#tv-scene {
	margin: 0 auto;
	padding-top: 12%;
	width: $size;
	height: $size;
	perspective: 2000px;
	// background-color: brown;

	// -ms-transform: scale(2);
	// -webkit-transform: scale(2);
	// transform: scale(2);
}

#tv {
	background-color: blue;
	height: $size*$rect;
	width: $size;
	display: block;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	position: relative;
	
	// transform: rotateX(-15deg) rotateY(15deg);
	
	transform: rotateX(-15deg) rotateY(0deg);
	-webkit-animation:spin 4s linear infinite;
	-moz-animation:spin 4s linear infinite;
	animation:spin 4s linear infinite;
}
.tv-side {
	width: inherit;
	height: inherit;
	position: absolute;
	// background: red;
	// opacity: 0.45;
	background-color: $tv-color-base;
	box-sizing: border-box;
	border: 2px solid $outline;
}
.tv-side.screen {
	background: #0a0a0a;
	transform: translate3d(0, 0, ($size*$rect/2)+1);
	// background-image: url('../img/default.png');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: ($size*$rect) - ($tv-frame * 2);
	width: $size - ($tv-frame * 3.5);
	top: $tv-frame;
	left: $tv-frame;
	@include border-radius(4px);
}
.tv-side.front {
	// background: yellow;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	background: lighten($tv-color-base, 10%);
	transform: translate3d(0, 0, $size*$rect/2);
	height: $size*$rect;
	&:after {
		content: "";
		display: block;
		height: inherit;
		width: inherit;
	}
}
.tv-side .dial {
	position: relative;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	.dial-layer {
		-webkit-backface-visibility: hidden;
		position: absolute;
		top: 30px;
		right: 12px;
		background-color: $tv-color-box;
		width: 24px;
		height: 24px;
		box-sizing: border-box;
		border: 2px solid $outline;
		@include border-radius(20px);
		&:nth-child(1) {
			transform: translate3d(0, 0, 2px); // bump first layer to handle chrome flicker
		}
		&:nth-child(2) {
			transform: translate3d(0, 0, 2px);
		}
		&:nth-child(3) {
			transform: translate3d(0, 0, 4px);
		}
		&:nth-child(4) {
			transform: translate3d(0, 0, 6px);
		}
		&:nth-child(5) {
			transform: translate3d(0, 0, 8px);
		}
	}
	.nub {
		position: absolute;
		top: 30px;
		right: 12px;
		width: 24px;
		height: 24px;
		transform-style: preserve-3d;
		-webkit-transform-style: preserve-3d;
		transform: rotate(45deg) translate3d(0, 0, 10px); // rotate this janks for animation
		.nub-layer {
			position: absolute;
			top: 1px;
			right: 0;
			left: 0;
			margin-left: auto;
			margin-right: auto;
			background-color: $tv-color-box;
			width: 6px;
			height: 22px;
			border: 1px solid $outline;
			&:nth-child(2) {
				transform: translate3d(0, 0, 1px);
			}
			&:nth-child(3) {
				transform: translate3d(0, 0, 2px);
			}
		}
	}
	&:nth-child(2) {
		top: 36px;
		.nub {
			transform: rotate(-15deg) translate3d(0, 0, 10px); // rotate this janks for animation
		}
	}
}
.tv-side .panel {
	position: absolute;
	top: 106px;
	right: 12px;
	background-color: $tv-color-box;
	width: 24px;
	height: 56px;
	box-sizing: border-box;
	border: 2px solid $outline;
}
.tv-side.back {
	// background: orange;
	transform: rotateY(180deg) translate3d(0, 0, $size*$rect/2);
	height: $size*$rect;
	background-color: darken($tv-color-base, 10%);
}
.tv-side.left {
	// background: green;
	transform: rotateY(-90deg) translate3d(0, 0, ($size*$rect/2));
	height: $size*$rect;
	width: $size*$rect;
}
.tv-side.right {
	// background: magenta;
	transform: rotateY(90deg) translate3d(0, 0, ($size*$rect - 15px));
	height: $size*$rect;
	width: $size*$rect;
}
.tv-side.top {
	// background: cyan;
	transform: rotateX(90deg) translate3d(0, 0, ($size*$rect/2));
}
.tv-side.bottom {
	// background: red;
	transform: rotateX(-90deg) translate3d(0, 0, ($size*$rect/2));
}



.tv-anim {
  -webkit-animation: animation 1000ms linear both;
  animation: animation 1000ms linear both;
}

/* Generated with Bounce.js. Edit at http://goo.gl/Z3s5Is */

@-webkit-keyframes animation { 
  0% { -webkit-transform: matrix3d(0, 0.5, 0, 0, -0.5, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 0.5, 0, 0, -0.5, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.333333% { -webkit-transform: matrix3d(0.62681, 0.88801, 0, 0, -0.88801, 0.62681, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.62681, 0.88801, 0, 0, -0.88801, 0.62681, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.666667% { -webkit-transform: matrix3d(1.3882, 0.6993, 0, 0, -0.6993, 1.3882, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.3882, 0.6993, 0, 0, -0.6993, 1.3882, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10% { -webkit-transform: matrix3d(1.84371, 0.26658, 0, 0, -0.26658, 1.84371, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.84371, 0.26658, 0, 0, -0.26658, 1.84371, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.333333% { -webkit-transform: matrix3d(2.02984, -0.06572, 0, 0, 0.06572, 2.02984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.02984, -0.06572, 0, 0, 0.06572, 2.02984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  16.666667% { -webkit-transform: matrix3d(2.08735, -0.21608, 0, 0, 0.21608, 2.08735, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.08735, -0.21608, 0, 0, 0.21608, 2.08735, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  20% { -webkit-transform: matrix3d(2.09319, -0.23374, 0, 0, 0.23374, 2.09319, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.09319, -0.23374, 0, 0, 0.23374, 2.09319, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  23.333333% { -webkit-transform: matrix3d(2.07719, -0.18659, 0, 0, 0.18659, 2.07719, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.07719, -0.18659, 0, 0, 0.18659, 2.07719, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  26.666667% { -webkit-transform: matrix3d(2.05334, -0.12272, 0, 0, 0.12272, 2.05334, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.05334, -0.12272, 0, 0, 0.12272, 2.05334, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  30% { -webkit-transform: matrix3d(2.03032, -0.06682, 0, 0, 0.06682, 2.03032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.03032, -0.06682, 0, 0, 0.06682, 2.03032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  33.333333% { -webkit-transform: matrix3d(2.01275, -0.02727, 0, 0, 0.02727, 2.01275, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.01275, -0.02727, 0, 0, 0.02727, 2.01275, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.666667% { -webkit-transform: matrix3d(2.0018, -0.00378, 0, 0, 0.00378, 2.0018, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.0018, -0.00378, 0, 0, 0.00378, 2.0018, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  40% { -webkit-transform: matrix3d(1.99644, 0.00742, 0, 0, -0.00742, 1.99644, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.99644, 0.00742, 0, 0, -0.00742, 1.99644, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  43.333333% { -webkit-transform: matrix3d(1.99485, 0.0107, 0, 0, -0.0107, 1.99485, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.99485, 0.0107, 0, 0, -0.0107, 1.99485, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  46.666667% { -webkit-transform: matrix3d(1.99532, 0.00973, 0, 0, -0.00973, 1.99532, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.99532, 0.00973, 0, 0, -0.00973, 1.99532, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  50% { -webkit-transform: matrix3d(1.99659, 0.0071, 0, 0, -0.0071, 1.99659, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.99659, 0.0071, 0, 0, -0.0071, 1.99659, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  53.333333% { -webkit-transform: matrix3d(1.99793, 0.00433, 0, 0, -0.00433, 1.99793, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.99793, 0.00433, 0, 0, -0.00433, 1.99793, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  56.666667% { -webkit-transform: matrix3d(1.99899, 0.00211, 0, 0, -0.00211, 1.99899, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.99899, 0.00211, 0, 0, -0.00211, 1.99899, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  60% { -webkit-transform: matrix3d(1.99969, 0.00065, 0, 0, -0.00065, 1.99969, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.99969, 0.00065, 0, 0, -0.00065, 1.99969, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.333333% { -webkit-transform: matrix3d(2.00007, -0.00015, 0, 0, 0.00015, 2.00007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.00007, -0.00015, 0, 0, 0.00015, 2.00007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  66.666667% { -webkit-transform: matrix3d(2.00022, -0.00047, 0, 0, 0.00047, 2.00022, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.00022, -0.00047, 0, 0, 0.00047, 2.00022, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  70% { -webkit-transform: matrix3d(2.00024, -0.0005, 0, 0, 0.0005, 2.00024, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.00024, -0.0005, 0, 0, 0.0005, 2.00024, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  73.333333% { -webkit-transform: matrix3d(2.00019, -0.00041, 0, 0, 0.00041, 2.00019, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.00019, -0.00041, 0, 0, 0.00041, 2.00019, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  76.666667% { -webkit-transform: matrix3d(2.00013, -0.00027, 0, 0, 0.00027, 2.00013, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.00013, -0.00027, 0, 0, 0.00027, 2.00013, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  80% { -webkit-transform: matrix3d(2.00007, -0.00015, 0, 0, 0.00015, 2.00007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.00007, -0.00015, 0, 0, 0.00015, 2.00007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.333333% { -webkit-transform: matrix3d(2.00003, -0.00006, 0, 0, 0.00006, 2.00003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.00003, -0.00006, 0, 0, 0.00006, 2.00003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  86.666667% { -webkit-transform: matrix3d(2, -0.00001, 0, 0, 0.00001, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2, -0.00001, 0, 0, 0.00001, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90% { -webkit-transform: matrix3d(1.99999, 0.00002, 0, 0, -0.00002, 1.99999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.99999, 0.00002, 0, 0, -0.00002, 1.99999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  93.333333% { -webkit-transform: matrix3d(1.99999, 0.00002, 0, 0, -0.00002, 1.99999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.99999, 0.00002, 0, 0, -0.00002, 1.99999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  96.666667% { -webkit-transform: matrix3d(1.99999, 0.00002, 0, 0, -0.00002, 1.99999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.99999, 0.00002, 0, 0, -0.00002, 1.99999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@keyframes animation { 
  0% { -webkit-transform: matrix3d(0, 0.5, 0, 0, -0.5, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, 0.5, 0, 0, -0.5, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.333333% { -webkit-transform: matrix3d(0.62681, 0.88801, 0, 0, -0.88801, 0.62681, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.62681, 0.88801, 0, 0, -0.88801, 0.62681, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.666667% { -webkit-transform: matrix3d(1.3882, 0.6993, 0, 0, -0.6993, 1.3882, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.3882, 0.6993, 0, 0, -0.6993, 1.3882, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10% { -webkit-transform: matrix3d(1.84371, 0.26658, 0, 0, -0.26658, 1.84371, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.84371, 0.26658, 0, 0, -0.26658, 1.84371, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.333333% { -webkit-transform: matrix3d(2.02984, -0.06572, 0, 0, 0.06572, 2.02984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.02984, -0.06572, 0, 0, 0.06572, 2.02984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  16.666667% { -webkit-transform: matrix3d(2.08735, -0.21608, 0, 0, 0.21608, 2.08735, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.08735, -0.21608, 0, 0, 0.21608, 2.08735, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  20% { -webkit-transform: matrix3d(2.09319, -0.23374, 0, 0, 0.23374, 2.09319, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.09319, -0.23374, 0, 0, 0.23374, 2.09319, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  23.333333% { -webkit-transform: matrix3d(2.07719, -0.18659, 0, 0, 0.18659, 2.07719, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.07719, -0.18659, 0, 0, 0.18659, 2.07719, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  26.666667% { -webkit-transform: matrix3d(2.05334, -0.12272, 0, 0, 0.12272, 2.05334, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.05334, -0.12272, 0, 0, 0.12272, 2.05334, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  30% { -webkit-transform: matrix3d(2.03032, -0.06682, 0, 0, 0.06682, 2.03032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.03032, -0.06682, 0, 0, 0.06682, 2.03032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  33.333333% { -webkit-transform: matrix3d(2.01275, -0.02727, 0, 0, 0.02727, 2.01275, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.01275, -0.02727, 0, 0, 0.02727, 2.01275, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.666667% { -webkit-transform: matrix3d(2.0018, -0.00378, 0, 0, 0.00378, 2.0018, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.0018, -0.00378, 0, 0, 0.00378, 2.0018, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  40% { -webkit-transform: matrix3d(1.99644, 0.00742, 0, 0, -0.00742, 1.99644, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.99644, 0.00742, 0, 0, -0.00742, 1.99644, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  43.333333% { -webkit-transform: matrix3d(1.99485, 0.0107, 0, 0, -0.0107, 1.99485, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.99485, 0.0107, 0, 0, -0.0107, 1.99485, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  46.666667% { -webkit-transform: matrix3d(1.99532, 0.00973, 0, 0, -0.00973, 1.99532, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.99532, 0.00973, 0, 0, -0.00973, 1.99532, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  50% { -webkit-transform: matrix3d(1.99659, 0.0071, 0, 0, -0.0071, 1.99659, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.99659, 0.0071, 0, 0, -0.0071, 1.99659, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  53.333333% { -webkit-transform: matrix3d(1.99793, 0.00433, 0, 0, -0.00433, 1.99793, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.99793, 0.00433, 0, 0, -0.00433, 1.99793, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  56.666667% { -webkit-transform: matrix3d(1.99899, 0.00211, 0, 0, -0.00211, 1.99899, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.99899, 0.00211, 0, 0, -0.00211, 1.99899, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  60% { -webkit-transform: matrix3d(1.99969, 0.00065, 0, 0, -0.00065, 1.99969, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.99969, 0.00065, 0, 0, -0.00065, 1.99969, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.333333% { -webkit-transform: matrix3d(2.00007, -0.00015, 0, 0, 0.00015, 2.00007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.00007, -0.00015, 0, 0, 0.00015, 2.00007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  66.666667% { -webkit-transform: matrix3d(2.00022, -0.00047, 0, 0, 0.00047, 2.00022, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.00022, -0.00047, 0, 0, 0.00047, 2.00022, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  70% { -webkit-transform: matrix3d(2.00024, -0.0005, 0, 0, 0.0005, 2.00024, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.00024, -0.0005, 0, 0, 0.0005, 2.00024, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  73.333333% { -webkit-transform: matrix3d(2.00019, -0.00041, 0, 0, 0.00041, 2.00019, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.00019, -0.00041, 0, 0, 0.00041, 2.00019, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  76.666667% { -webkit-transform: matrix3d(2.00013, -0.00027, 0, 0, 0.00027, 2.00013, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.00013, -0.00027, 0, 0, 0.00027, 2.00013, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  80% { -webkit-transform: matrix3d(2.00007, -0.00015, 0, 0, 0.00015, 2.00007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.00007, -0.00015, 0, 0, 0.00015, 2.00007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.333333% { -webkit-transform: matrix3d(2.00003, -0.00006, 0, 0, 0.00006, 2.00003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2.00003, -0.00006, 0, 0, 0.00006, 2.00003, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  86.666667% { -webkit-transform: matrix3d(2, -0.00001, 0, 0, 0.00001, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2, -0.00001, 0, 0, 0.00001, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90% { -webkit-transform: matrix3d(1.99999, 0.00002, 0, 0, -0.00002, 1.99999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.99999, 0.00002, 0, 0, -0.00002, 1.99999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  93.333333% { -webkit-transform: matrix3d(1.99999, 0.00002, 0, 0, -0.00002, 1.99999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.99999, 0.00002, 0, 0, -0.00002, 1.99999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  96.666667% { -webkit-transform: matrix3d(1.99999, 0.00002, 0, 0, -0.00002, 1.99999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.99999, 0.00002, 0, 0, -0.00002, 1.99999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(2, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}





